# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
.*

# Python:
*.so
*.egg
*.egg-info
dist
dependencies
__pycache__
*.dist-info

# My configurations:
db.ini
deploy_key_rsa
macOS


# 不排除.gitignore和App.class:
!.gitignore